/*User CSS*/


.main-menu {
	li.nav-item {
		&:last-child {
			padding-right: 1rem;
		}
	}
}

.nav-item {
	.btn {
		font-size: 1rem !important;
		font-weight: normal;
	}
}
.text-dark {
	color:$gray-700 !important;
}
.hero-form-wrap {
	.partner-photo {
		width:80%;
		margin:0 auto;
		display: block;

		img {
			position: absolute;
			bottom:0;
			width:100%;
		}
	}

	form {
		position: absolute;
	}
}

.lead-banner {
	font-weight: 300;
    line-height: 27px;
}

@media only screen and (max-width: 991px) {
	.partner-photo-wrap {
		display: none;
	}
	.partner-photo {
		display:none !important;
	}


	.home-hero-bg {
		padding: 25px 25px;

		.container {
			height: auto !important;
		}
	}
}

